# Data Base Filler

In [1]:
import os
os.chdir('../') 

from strava_reporter.handlers.database import DBHandler
db = DBHandler()

### Fill Weeks

In [2]:
start = "2023-04-03"
end = "2023-06-25"

db.fill_weeks(start, end)

INSERT INTO WEEKS VALUES (1, '2023-04-03', '2023-04-09', 1680501600, 1681106400)
INSERT INTO WEEKS VALUES (2, '2023-04-10', '2023-04-16', 1681106400, 1681711200)
INSERT INTO WEEKS VALUES (3, '2023-04-17', '2023-04-23', 1681711200, 1682316000)
INSERT INTO WEEKS VALUES (4, '2023-04-24', '2023-04-30', 1682316000, 1682920800)
INSERT INTO WEEKS VALUES (5, '2023-05-01', '2023-05-07', 1682920800, 1683525600)
INSERT INTO WEEKS VALUES (6, '2023-05-08', '2023-05-14', 1683525600, 1684130400)
INSERT INTO WEEKS VALUES (7, '2023-05-15', '2023-05-21', 1684130400, 1684735200)
INSERT INTO WEEKS VALUES (8, '2023-05-22', '2023-05-28', 1684735200, 1685340000)
INSERT INTO WEEKS VALUES (9, '2023-05-29', '2023-06-04', 1685340000, 1685944800)
INSERT INTO WEEKS VALUES (10, '2023-06-05', '2023-06-11', 1685944800, 1686549600)
INSERT INTO WEEKS VALUES (11, '2023-06-12', '2023-06-18', 1686549600, 1687154400)
INSERT INTO WEEKS VALUES (12, '2023-06-19', '2023-06-25', 1687154400, 1687759200)

### Fill Athletes

In [3]:
athletes = [
    {
        "name": "Emilio Padrón",
        "strava_name": "Emilio P."
    },
    {
        "name": "Ana Barbara González",
        "strava_name": "Ana Barbara G."
    },
    {
        "name": "Ana Ceci Foulkes",
        "strava_name": "Ana Ceci F."
    },
    {
        "name": "Daniel Llamas",
        "strava_name": "Daniel L."
    },
    {
        "name": "Fredy De León",
        "strava_name": "Fredy D."
    },
    {
        "name": "Gerardo Martínez",
        "strava_name": "Gerardo M."
    },
    {
        "name": "Jose Ge Estrada",
        "strava_name": "Jose Ge E."
    },
    {
        "name": "Maryfer Gama",
        "strava_name": "Maryfer G."
    },
    {
        "name": "Natalia Ortega",
        "strava_name": "Natalia O."
    },
    {
        "name": "Sebastián Gutierrez",
        "strava_name": "Sebastian G."
    },
    {
        "name": "Amado Herrera",
        "strava_name": "Amado H."
    },
    {
        "name": "Marco González",
        "strava_name": "Marco G."
    },
    {
        "name": "Scarlett Paramo",
        "strava_name": "Scarlett P."
    }
]

for athlete in athletes:
    db.add_athlete(
        name= athlete["name"],
        strava_name = athlete["strava_name"],
        active=True,
        weeks_completed=2
    )

INSERT INTO ATHLETES VALUES ('Emilio Padrón', 'Emilio P.', True, 2)
INSERT INTO ATHLETES VALUES ('Ana Barbara González', 'Ana Barbara G.', True, 2)
INSERT INTO ATHLETES VALUES ('Ana Ceci Foulkes', 'Ana Ceci F.', True, 2)
INSERT INTO ATHLETES VALUES ('Daniel Llamas', 'Daniel L.', True, 2)
INSERT INTO ATHLETES VALUES ('Fredy De León', 'Fredy D.', True, 2)
INSERT INTO ATHLETES VALUES ('Gerardo Martínez', 'Gerardo M.', True, 2)
INSERT INTO ATHLETES VALUES ('Jose Ge Estrada', 'Jose Ge E.', True, 2)
INSERT INTO ATHLETES VALUES ('Maryfer Gama', 'Maryfer G.', True, 2)
INSERT INTO ATHLETES VALUES ('Natalia Ortega', 'Natalia O.', True, 2)
INSERT INTO ATHLETES VALUES ('Sebastián Gutierrez', 'Sebastian G.', True, 2)
INSERT INTO ATHLETES VALUES ('Amado Herrera', 'Amado H.', True, 2)
INSERT INTO ATHLETES VALUES ('Marco González', 'Marco G.', True, 2)
INSERT INTO ATHLETES VALUES ('Scarlett Paramo', 'Scarlett P.', True, 2)

### Change Weeks Completed in Athletes Table

In [4]:
db.update_weeks_completed_in_athlete(strava_name="Gerardo M.", new_weeks=1)
db.update_weeks_completed_in_athlete(strava_name="Scarlett P.", new_weeks=0)
db.update_weeks_completed_in_athlete(strava_name="Sebastian G.", new_weeks=1)
db.update_weeks_completed_in_athlete(strava_name="Daniel L.", new_weeks=1)

UPDATE ATHLETES SET weeks_completed = 1 WHERE strava_name = 'Gerardo M.'
UPDATE ATHLETES SET weeks_completed = 0 WHERE strava_name = 'Scarlett P.'
UPDATE ATHLETES SET weeks_completed = 1 WHERE strava_name = 'Sebastian G.'
UPDATE ATHLETES SET weeks_completed = 1 WHERE strava_name = 'Daniel L.'